*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #111517;
	--secondary: #fff;
	--background: #fafafa;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

main {
	color: var(--primary);
	min-height: 100vh;
	background: var(--background);
}

.dark {
	--primary: #fff;
	--secondary: #273542;
	--background: #1a2833;
}

.wrapper {
	max-width: 1312px;
	margin: auto;
	padding: 0 1rem;
}
